Hallo {{ user.nickname }},<br />
<br />
ein neues Benutzerkonto bei {{ APP_NAME }} wurde für Dich angelegt.<br />
Wir möchten Dich bitten nun ein Passwort zu vergeben mit dem du gleichzeitig diese<br />
E-Mail-Adresse bestätigst. Bitte achte dabei auf ausreichende Sicherheit.<br />
Um ein Passwort zu vergeben, klicke einfach auf folgenden Link oder kopiere diesen<br />
in die Adresszeile Deines Browsers.<br />
<br />
<a href="{{url}}">{{url}}</a><br />
<br />
sollte es sich hierbei um einen Irrtum handeln, melde Dich bitte beim zuständigen Administrator.
