Hallo {{ nickname }},<br />

bei uns ist eine Anfrage zum Zurücksetzen Deines Passwortes eingegangen.<br />
Du kannst folgenden Link nutzen um Dein Passwort zurückzusetzen:<br />
<br />
<a href="{{url}}">{{url}}</a><br />
<br />
Solltest du uns diese Anfrage nicht gesendet haben, kannst du diese E-Mail ignorieren.<br />
Vorsichtshalber empfehlen wir Dir allerdings Dein Passwort manuell neu zu vergeben.<br />
Logge Dich dazu einfach auf {{ domain }} ein.
