Hello {{user.nickname}}, <br />
<br />
a new user account at {{APP_NAME}} has been created for you. <br />
We would now like to ask you to assign a password with which you confirm this<br />
email address at the same time. Please ensure there is sufficient security.<br />
To assign a password, simply click on the following link or copy it<br />
in the address line of your browser.<br />
<br />
<a href="{{url}}">{{url}}</a><br />
<br />
if this is an error, please contact the responsible administrator.
