Hello {{ user.nickname }},<br />
<br />
We have received a request to reset your password.<br />
You can use the following link to reset your password:<br />
<br />
<a href="{{url}}">{{url}}</a><br />
<br />
If you have not sent us this request, you can ignore this email.<br />
As a precaution, however, we recommend that you manually reassign your password.<br />
Simply log in to {{domain}}.
