@import (less) "variables.less";

.addUsers {
    height: 100%;

    @gridTemplate: 25px 1fr 1fr 1fr 1fr 100px 100px 100px;
    @gridTemplateAreas: "removeButton email nickname firstName lastName isAdmin isConfirmed isActive";

    .form {
        display: grid;
        grid-template-columns: @gridTemplate;
        grid-template-areas: @gridTemplateAreas;

        .progressBar {
            grid-column: auto / span 8;
            position: absolute;
            top: 68px;
        }

        .head {
            padding: 5px;
            border: 1px solid var(--gray-color, @gray);
            font-weight: bold;
            color: var(--black-color, @black);
            background-color: var(--white-color, @white);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &.clear {
                padding: 0;

                .deleteButton {
                    border: none;
                }
            }
        }

        .email {
            grid-area: email;
        }

        .nickname {
            grid-area: nickname;
        }

        .firstName {
            grid-area: firstName;
        }

        .lastname {
            grid-area: lastname;
        }

        .isAdmin {
            grid-area: isAdmin;
        }

        .isConfirmed {
            grid-area: isConfirmed;
        }

        .isActive {
            grid-area: isActive;
        }

        .deleteButton {
            --background-color: var(--white-color, @white);
            --button-height: 25px;
            --hover-color: var(--primary-color, @primaryColor);
            border: 1px solid var(--gray-color, @gray);

            &:hover {
                color: var(--white-color, @white);
            }
        }

        .isAdmin,
        .isConfirmed,
        .isActive {
            --height: 25px;
            --width: 100px;
        }

        .errors {
            grid-column: auto / span 8;
            display: grid;
            grid-template-columns: 25px 1fr;

            .error,
            .space {
                border: 1px solid var(--gray-color, @gray);
                background-color: var(--white-color, @white);
                font-weight: bold;
            }

            .space {
                text-align: center;
            }

            .error {
                padding-left: 5px;
                color: var(--fail-color, @failColor);
            }
        }

        .row {
            display: grid;
            grid-template-columns: @gridTemplate;
            grid-template-areas: @gridTemplateAreas;
            grid-column: auto / span 8;

            .input {
                border: 1px solid var(--gray-color, @gray);
                user-select: none;
                outline: none;
                padding: 5px;
                width: calc(100% - 12px);
            }
        }
    }
}
