@import (less) "variables.less";

.admin {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 350px 1fr;
    grid-template-areas: "nav items editor";
    height: 100%;

    * {
        position: relative;
    }

    header {
        h2 {
            font-size: 18px;
            margin-left: 10px;
            color: var(--white-color, @white);
            display: inline-block;
        }
    }

    .navigation {
        background-color: var(--dark-color, @dark);
        grid-area: nav;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr minmax(min-content, max-content);
        grid-template-areas: "top" "bottom";
        height: 100%;

        &.top {
            grid-area: top;
        }
        &.bottom {
            grid-area: bottom;
        }

        .button {
            grid-area: top;
            color: var(--white-color, @white);
        }

        header {
            grid-area: top;
            height: 50px;
        }
    }

    .items {
        background-color: var(--dusk-color, @dusk);
        grid-area: items;
        color: var(--white-color, @white);
        overflow: hidden;

        header {
            display: grid;
            grid-template-columns: 250px 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "headline ."
                "headline buttons"
                "headline .";
            white-space: nowrap;
            height: 50px;

            h2 {
                grid-area: headline;
                box-sizing: border-box;
                width: calc(100% - 60px);
                font-size: 18px;
            }
            .buttons {
                grid-area: buttons;
                line-height: 50px;
                text-align: right;

                .collapseButton,
                .addButton {
                    float: right;
                    --button-width: 49px;
                    //--hover-color: var(--primary-color, @primaryColor);
                    &.collapsed {
                        --button-width: 40px;
                        width: 40px;
                    }
                }
            }
        }

        .search {
            margin-top: 1px;
            input {
                display: block;
                height: 25px;
                padding: 5px;
                width: calc(100% - 10px);
                border: none;
                user-select: none;
                outline: none;
                background-color: transparent;
                color: @white;
                border-bottom: 1px solid @gray;

                &::placeholder {
                    color: @light;
                    opacity: 0.75;
                }
            }
        }

        .list {
            height: calc(100% - 86px);
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0.35em;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px var(--dark-color, @dark);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--gray-color, @gray);
            }

            .empty {
                margin: 0 10px;
                text-align: center;
                height: 50px;
                line-height: 50px;
            }

            .addButton {
                --hover-color: var(--gray-color, @gray);
            }
        }
    }

    .editor {
        grid-area: editor;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }
}
