@import (less) "variables.less";

.admin {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 350px 1fr;
    grid-template-areas: "nav items editor";
    height: 100%;

    header {
        h2 {
            margin-left: 10px;
            color: var(--white-color, @white);
            display: inline-block;
        }
    }

    .navigation {
        background-color: var(--dark-color, @dark);
        grid-area: nav;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr minmax(min-content, max-content);
        grid-template-areas: "top" "bottom";
        height: 100%;

        &.top {
            grid-area: top;
        }
        &.bottom {
            grid-area: bottom;
        }

        .button {
            grid-area: top;
            color: var(--white-color, @white);
        }

        header {
            grid-area: top;
        }
    }

    .items {
        background-color: var(--dusk-color, @dusk);
        grid-area: items;
        color: var(--white-color, @white);
        overflow: hidden;

        header {
            display: grid;
            grid-template-columns: 250px 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "headline ."
                "headline buttons"
                "headline .";
            white-space: nowrap;
            height: 68px;

            h2 {
                grid-area: headline;
                box-sizing: border-box;
                width: calc(100% - 60px);
            }
            .buttons {
                grid-area: buttons;
                line-height: 68px;
                text-align: right;

                .collapseButton,
                .addButton {
                    float: right;
                    --button-height: 30px;
                    --button-width: 30px;
                    --hover-color: var(--gray-color, @gray);
                }
                &.collapsed {
                    width: 40px;
                }
            }
        }

        .list {
            height: 100%;

            .empty {
                margin: 0 10px;
                text-align: center;
                height: 50px;
                line-height: 50px;
            }

            .addButton {
                --hover-color: var(--gray-color, @gray);
            }
        }
    }

    .editor {
        grid-area: editor;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
