@import "variables";

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: @light;
    margin: 0;
    padding: 0;
}

#app {
    font-size: 16px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;

    .fail {
        border: 2px solid var(--fail-color, @failColor);
    }

    .success {
        border: 2px solid var(--success-color, @successColor);
    }

    [data-tippy-root] {
        max-width: 500px;

        .tippy-box {
            max-width: none !important;

            .tooltip {
                display: grid;
            }

            .tippy-backdrop {
                width: 200%;
                background-color: @primaryColor;

                &[data-state=hidden]{
                    transform: scale(1) translate(-50%,-50%);
                    opacity: 1;
                }
            }
        }
    }
}
