@import (less) "variables";
@import (less) "animations";

.button {
    @height: 50px;

    background-color: var(--background-color, "none");

    &:hover {
        background-color: var(--hover-color, @dusk);
        cursor: pointer;
    }

    &.active {
        background-color: var(--active-color, @primaryColor);

        &:hover {
            background-color: var(--active-hover-color, @infoColor);
        }
    }

    &.buttonLoading:after {
        content: " ";
        position: absolute;
        display: block;
        width: calc(var(--button-height, @height) - 25px);
        height: calc(var(--button-height, @height) - 25px);
        margin: 8px;
        border-radius: 50%;
        border: 6px solid var(--white-color, @white);
        border-color: var(--white-color, @white) transparent
            var(--white-color, @white) transparent;
        animation: buttonLoading 1.2s linear infinite;
        top: -2px;
        left: -2px;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
        height: var(--button-height, @height);
    }

    .icon {
        width: var(--button-height, @height);
        line-height: var(--button-height, @height);
        text-align: center;
        font-size: var(--button-font-size, 20px);
        pointer-events: none;
    }

    .label {
        width: calc(100% - var(--button-width, --button-height, @height));
        line-height: var(--button-height, @height);
    }
}
