@import (less) "variables";

.toasted-container.top-right {
    top: 20px !important;
    right: 20px !important;
    font-size: 16px !important;
    font-family: Avenir, Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.errorToaster {
    background: var(--fail-color, @failColor) !important;
}

.successToaster {
    background: var(--success-color, @successColor) !important;
}

.infoToaster {
    background: var(--info-color, @infoColor) !important;
}

.swal-modal {
    font-family: Avenir, Helvetica, Arial, sans-serif !important;

    .swal-footer {
        .swal-button-container {
            .confirm {
                background-color: @successColor;
            }

            .reject {
                background-color: @failColor;
            }
        }
    }
}
