@import (less) "variables.less";
@import (less) "animations.less";

.item {
    @height: 50px;
    @halfHeight: 25px;
    @transitionConfig: ease-in-out 0.3s;

    display: grid;
    grid-template-columns: @height 1fr;
    grid-template-rows: @height;
    grid-template-areas: "avatar info" "avatar info";
    transition: opacity @transitionConfig, background-color @transitionConfig;

    &:hover {
        background-color: var(--gray-color, @gray);
        opacity: 1 !important;
    }

    .avatar {
        grid-area: avatar;
        text-align: center;
        line-height: @height;
        font-size: 24px;

        > div.overlayIcons {
            position: absolute;
            bottom: 0;
            text-align: right;
            font-size: 16px;
            color: var(--primary-color, @warningColor);
            width: calc(@height - 10px);

            > span {
                margin: 2px;
            }
        }

        > div {
            height: 75%;
            width: 75%;
            margin: 6px;
            background-size: cover;
            background-position: center center;
        }
    }

    .info {
        grid-area: info;
        overflow: auto;

        > * {
            height: @halfHeight;
            line-height: @halfHeight;
        }

        .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .action {
            --button-height: 25px;
            --hover-color: none;
            margin-left: 3px;
            float: right;

            &:hover {
                color: var(--action-hover-color, @black);
            }
        }
    }

    .loader {
        height: 3px;
        width: 100%;
        overflow: hidden;
        grid-column: auto / span 2;
        position: absolute;
        bottom: 0;

        .bar {
            height: 3px;
            background-color: var(--primary-color, @primaryColor);
        }

        &.loading {
            .bar {
                position: relative;
                transition: width 1s;
                transition-timing-function: ease-in-out;
            }
        }

        &.pending {
            .bar {
                position: absolute !important;
                width: 100% !important;
                animation-name: pending-loader-animation;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
        }
    }
}
