@import (less) "variables";

.lessonsOverwritesAnchor {
    position: absolute;
    pointer-events: none;
    //transition: all 0.5s;
}

.lessonsOverwritesContent {
    width: max-content;
    min-width: 200px;
    max-width: 100%;

    .head {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 20px;
        padding: 5px;
        font-size: 20px;

        .close-icon {
            &:hover {
                cursor: pointer;
                color: @primaryColor;
            }
        }
    }

    .body {
        max-height: calc(98vh - 30px);
        padding: 0 5px 5px 5px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
