@import (less) "variables.less";

.lessonEditor {
    height: 100%;

    .editorBody {
        height: calc(100% - 50px);

        h3 {
            font-size: 16px;
            display: block;
            padding-left: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid var(--gray-color, @gray);
        }

        .description {
            width: calc(100% - 20px);
            box-sizing: border-box;
            margin: 0 10px;
            padding: 5px;
            border: 1px solid @gray;
            resize: vertical;
            outline: none;
            user-select: none;
        }

        .itemList {
            padding-left: 5px;

            .avatar {
                display: inline-block;
                position: relative;
                background-image: url("~client/assets/transparentBackgroundIndicator.png");
                cursor: grab;
                width: calc(20% - 10px);
                min-width: 150px;
                max-width: 250px;

                &.leftDropTarget {
                    border-left: 2px solid var(--primary-color, @primaryColor);
                }

                &.rightDropTarget {
                    border-right: 2px solid var(--primary-color, @primaryColor);
                }

                .closeIcon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary-color, @primaryColor);
                    }
                }
                .name {
                    position: absolute;
                    box-sizing: border-box;
                    font-weight: bold;
                    padding: 5px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: var(--white-color, fade(@white, 75));
                }
            }
        }
    }
}
