@import (less) "variables.less";

.lessonEditor {
    height: 100%;

    .editorBody {
        height: calc(100% - 50px);
        overflow: auto;
        overflow-x: hidden;

        h3,
        &::v-deep h3 {
            font-size: 16px;
            display: block;
            padding-left: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid var(--gray-color, @gray);
        }

        .description {
            width: calc(100% - 20px);
            box-sizing: border-box;
            margin: 0 10px;
            padding: 5px;
            border: 1px solid @gray;
            resize: vertical;
            outline: none;
        }

        .selected {
            border: 1px solid @primaryColor !important;
        }

        .calcRecipesButton {
            transform: scale(0.75);
            display: inline-block;
            margin-bottom: -20px;
            padding-right: 15px;
        }

        h3 .points {
            font-size: 12px;
        }

        .modifiedIndicator {
            position: absolute;
            top: 10px;
            left: 10px;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            background-color: @warningColor;
            box-shadow: 0 0 3px @black;
            cursor: default;
            pointer-events: all;
        }

        .closeIcon > * {
            pointer-events: none;
        }

        .entityList {
            display: flex;
            padding-left: 5px;
            flex-wrap: wrap;
            align-items: flex-start;

            .entityItem,
            .addEntity {
                width: calc(20% - 10px);
                min-width: 150px;
                max-width: 250px;
                box-shadow: 0 0 5px @dusk;
                border: 1px solid @black;
                box-sizing: border-box;
                margin: 5px;
            }

            .addEntity {
                display: flex;
                align-items: center;

                --background-color: @dusk;
                --hover-color: @gray;
                color: @white;

                &::v-deep .label {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .itemList {
            padding-left: 5px;

            .avatar {
                display: inline-block;
                position: relative;
                background-image: url("~client/assets/transparent-background-pattern.svg");
                cursor: grab;
                width: calc(20% - 10px);
                min-width: 150px;
                max-width: 250px;
                box-shadow: 0 0 5px @dusk;
                border: 1px solid @black;
                box-sizing: border-box;

                > * {
                    pointer-events: none;
                }

                &.leftDropTarget {
                    border-left: 2px solid var(--primary-color, @primaryColor) !important;
                }

                &.rightDropTarget {
                    border-right: 2px solid var(--primary-color, @primaryColor) !important;
                }

                .closeIcon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                    pointer-events: all !important;

                    &:hover {
                        color: var(--primary-color, @primaryColor);
                    }
                }

                .name {
                    position: absolute;
                    box-sizing: border-box;
                    font-weight: bold;
                    padding: 5px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: var(--white-color, fade(@white, 75));
                }
            }
        }

        .recipeList {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-left: 5px;

            .recipeViewer {
                position: relative;
                box-sizing: border-box;
                border: 1px solid @black;
                background-color: @white;
                box-shadow: 0 0 5px @dusk;
                margin: 5px;
                padding: 1em;
                padding-bottom: calc(1em + 25px);
                cursor: grab;

                &.leftDropTarget {
                    border-left: 2px solid var(--primary-color, @primaryColor) !important;
                }

                &.rightDropTarget {
                    border-right: 2px solid var(--primary-color, @primaryColor) !important;
                }

                &.added {
                    border-color: @successColor;
                }

                &.excluded {
                    border-color: @failColor;
                    opacity: 0.5;
                }

                .closeIcon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                    pointer-events: all;

                    &:hover {
                        color: var(--primary-color, @primaryColor);
                    }
                }

                .name {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    text-align: center;
                    font-weight: bold;
                    padding: 5px;
                }

                &::v-deep *:not(.modifiedIndicator, .closeIcon) {
                    pointer-events: none;
                }
            }
        }

        .goalList {
            .goalsHead {
                display: flex;
                align-items: stretch;

                > div {
                    background-color: @white;
                    font-weight: bold;
                    border: 1px solid @black;
                    box-sizing: border-box;
                    padding: 10px;
                }

                .action {
                    width: 30px;
                }

                .names {
                    width: calc(100% - 131px);
                }

                .points {
                    width: 101px;
                }
            }
            .goal {
                display: flex;
                align-items: stretch;

                &.placeholder {
                    .action {
                        pointer-events: none;
                    }
                }

                > div {
                    border: 1px solid @black;
                }

                .action {
                    width: 28px;
                    line-height: 74px;
                    text-align: center;
                    background-color: @white;

                    &:hover {
                        background-color: @primaryColor;
                        color: @white;
                        cursor: pointer;
                    }
                }

                .name {
                    width: calc(100% - 128px);
                }

                .points {
                    width: 100px;

                    input {
                        height: 54px;
                    }
                }

                input {
                    width: calc(100% - 20px);
                    font-size: 14px;
                    border: none;

                    padding: 10px;
                }
            }
        }

        .abstract {
            padding-left: 5px;
            display: flex;

            .stats {
                display: inline-block;
                width: 50%;

                div {
                    display: flex;
                    div {
                        padding: 5px;

                        &:first-child {
                            min-width: 175px;
                            font-weight: bold;
                        }
                    }
                }
            }

            .punish {
                display: inline-block;
                position: relative;
                padding-left: 35px;
                border-left: 1px solid @black;
                width: 50%;

                .row {
                    display: flex;

                    > input,
                    > span {
                        padding: 8px;
                        border: none;
                        background: transparent;
                    }

                    &:first-child {
                        border-bottom: 1px solid @black;
                    }

                    &:last-child {
                        margin-top: 20px;
                        border-top: 1px double @black;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1700px) {
    .lessonEditor {
        .editorBody {
            .recipeList {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .lessonEditor {
        .editorBody {
            .recipeList {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
