@import (less) "variables.less";

.player {
    height: 100%;

    .graphicViewer {
        height: calc(100vh - 50px);
    }

    .sceneSwitcher {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 25px;
        --background-color: @infoColor;
        --hover-color: @primaryColor;
        color: @white;
    }

    .grabbing {
        bottom: 65px;
    }
}
