@import (less) "variables.less";

.player {
    height: 100%;

    .graphicViewer {
        height: calc(100vh - 50px);
    }

    .sidebar {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        --background-color: @infoColor;
        --hover-color: @primaryColor;
        color: @white;

        > div {
            margin: 10px 0;
        }

        .button {
            border-radius: 25px;
        }
    }

    .grabbing {
        bottom: 65px;
    }
}
