@import (less) "variables.less";

.recipeEditor {
    height: 100%;

    .editorBody {
        height: calc(100% - 50px);
        overflow-y: auto;

        .description {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
        }
    }
}
