@import (less) "variables.less";

@size: 3em;

.recipePlaces {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    min-width: calc(@size * 2);
    position: relative;

    &.rightAligned {
        .spreader {
            right: auto;
            left: 0;
        }
        .item {
            margin-left: auto;

            input.amount {
                left: 0;
            }

            .amount {
                left: auto;
                right: @size;
            }
        }
    }

    .spreader {
        position: absolute;
        right: 0;
        top: calc(@size * 0.5);
        border-left: 1px solid @black;
        height: calc(100% - @size);
    }

    .item {
        margin: 0;
        margin-top: 1em;
        width: @size;
        height: @size;
        background-color: @dark;
        border-radius: @size;
        color: @white;

        &:first-child {
            margin-top: 0;
        }

        &.highlight {
            background-color: @infoColor;
        }

        > span,
        div {
            pointer-events: none;
        }

        &::v-deep .picture {
            border-radius: @size;
        }

        input {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            padding: 0;
            border: none;
            border-bottom: 1px solid @black;
            text-align: center;
            background: transparent;
            box-sizing: border-box;
            outline: none;
            pointer-events: all;

            &:focus {
                border-bottom: 1px solid @primaryColor;
            }

            &.amount {
                border-top: none;
                margin-top: calc(@size * (-0.5) - 20px);
                width: calc(100% - @size - 8px);
                left: calc(@size + 8px);
            }
        }

        .amount {
            position: absolute;
            margin-top: calc(@size * (-0.5) - 1px);
            left: @size;
            border-top: 1px solid @black;
            width: calc(100% - @size);
        }
    }

    .placeholder {
        line-height: @size;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
